/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/* Custom-Style */
main {
    background-color: antiquewhite;
}
.container {
    max-width: 800px;
    margin: 0 auto;
}
.center {
    text-align: center;
} 

h1 {
    text-align: center;
    font-size: 3rem;
    padding: 1.5rem 0;
    background-color: rgb(245, 211, 159);
}
.result {
    background-color: black;
    height: 5rem;
    width: 40%;
    border-radius: 1.2rem;
    color: white;
    font-size: 2rem;
    font-weight: 800;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 1rem;
}

.operation {
    display: flex;
    text-align: center;
    width: 40%;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    
}
section {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    width: 40%;
    padding-bottom: 1rem;
}
button {
    border: none;
    background-color: rgb(105, 38, 53);
    padding: .8rem 3.5rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    font-weight: 900;
    color: black;
}
button:hover {
    background-color: rgb(129, 34, 124);
}
.num-btn {
    text-align: center;
    background-color: rgb(207,207,207);
    padding: .8rem 3.2rem;
    margin: 0.5rem 0.8rem 0.5rem 0;
    color: #000;
}
.equal {
    height: 95%;
    background-color: rgb(129, 34, 124);
    margin: 0.5rem 0;
}
.equal:hover {
    background-color: rgb(105, 38, 53);
}